<h1 class="text-center text-indigo-500 text-2xl my-4 font-sans font-bold">User</h1>
<div class="mx-auto text-center my-4">
  <%= link_to "Users List", users_path, class: "text-lg p-3 bg-violet-400 hover:bg-violet-500 text-white rounded-3xl" %>
</div>
<table class="mx-auto text-center border-collapse border-2 border-slate-400 bg-sky-50 hover:bg-sky-100"> 
  <tr class="border border-slate-300">
    <th class="border border-slate-300 p-3">Avatar</th>
    <th class="border border-slate-300">Username</th>
    <th class="border border-slate-300">Email</th>
    <th class="border border-slate-300">First Name</th>
    <th class="border border-slate-300">Last Name</th>
    <th class="border border-slate-300">Phone Number</th>
  </tr>
  <tr>
    <td class="border border-slate-300 p-3"><%= image_tag @user.avatar.variant(:profile) %></td>
    <td class="border border-slate-300 p-3"><%= @user.username %></td>
    <td class="border border-slate-300 p-3"><%= @user.email %></td>
    <td class="border border-slate-300 p-3"><%= @user.firstname %></td>
    <td class="border border-slate-300 p-3"><%= @user.lastname %></td>
    <td class="border border-slate-300 p-3 oldstyle-nums"><%= @user.phonenumber %></td>
  </tr>
</table>
